# Fichiers temporaires Unity
Temp/
Library/
Logs/
UserSettings/
obj/

# Fichiers de build
Build/
Builds/

# Fichiers Visual Studio
.vs/
.vscode/
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
"@

# Vuforia
/Packages/com.ptc.vuforia.engine-11.0.4.tgz